body{
    overflow-x:hidden;
}

.social {
    margin-top: 50px;

}

.page-header{
    border:none;
}
h1 .main_title{
    font-weight:300;
    color:coral;
}

.wave {

    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    /*background-size:110px 210px;*/
    -webkit-background-size:3px 250px;
    background-size:3px 250px;
    background-repeat:repeat-x;
    padding-bottom:20px;
}

.jumbotron{
    padding-top:5px;
}

.desc{
    color:ghostwhite;
    margin-top:50px;
    margin-left:0;
    padding-left:0;
}


.definition{
    font-size:16px;
    font-style: italic;
    color:darkslategray;
    margin-left:10px;
}

img.avatar {
    width: 120px;
    margin: 45px;
    display: block;
    margin: 20px auto;

}

.pastelito {
    width: 340px;
    height:340px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    border-radius: 50%;
    border: 10px solid white;
    margin-bottom:20px;
    -webkit-filter: saturate(130%);
    filter: saturate(130%);
}


.clip-circle {
    -webkit-clip-path: circle(60px at center);
    clip-path: circle(60px at center);
}

/*.clip-circle_lg {*/
    /*-webkit-clip-path: circle(140px at center);*/
    /*clip-path: circle(150px at center);*/




/*}*/

.name{
    text-align:center;
    font-size:28px;
    color:ghostwhite;
}

.name {
    margin:10px;
}


.role{
    text-align:center;
    font-size:21px;
    color:ghostwhite;
}

.ali{
    margin-top:8px;
}

.alex{
    margin-top:10px;
}

.alpha {
    font-size:21px;
    color:ghostwhite;
    font-style: italic;
    padding:20px 10px 20px 10px;
    text-align:center;
    font-weight:200;
}

.btn{
    margin-left:10px;
}

a.deco-none {
    text-decoration:none;
    font-weight:300;
    color:coral !important;

}
ul{
    list-style:none;
}

.ingredients{
    font-size:36px;
    color:whitesmoke;

}

.ingredient_list{
    margin-top: 60px;

}

li a{
    font-weight:300;
    font-size:20px;
    color:coral !important;

}

.row{
    padding: 0 20px 0 20px;
}